.padding1{
    background-color: rgb(251, 251, 11);
    border: 3px solid rgb(94, 8, 94);
    width: 600px;
    height: 600px;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 25px;

}
.padding2{
    background-color: rgb(46, 42, 42);
    border: 3px solid rgb(12, 12, 190);
    width: 400px;
    height: 400px;
    margin-top: 20%;
    margin-left: 21%;
    border-radius: 30px;

}
.padding3{
    background-color: rgb(25, 199, 215);
    border: 3px solid rgb(85, 22, 22);
    width: 200px;
    height: 150px;
    text-align: center;
    padding-top: 20%;
    margin-left: 23%;
    margin-top: 25%;
    border-radius: 25px;
}