.padding1{
    background-color: rgb(233, 211, 211);
    border: 3px solid rgb(238, 130, 238);
    width: 350px;
    height: 350px;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 25px;

}
.padding2{
    background-color: aqua;
    border: 3px solid yellow;
    width: 200px;
    height: 200px;
    margin-top: 20%;
    margin-left: 21%;
    border-radius: 30px;

}
.padding3{
    background-color: blue;
    border: 3px solid brown;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 20%;
    margin-left: 23%;
    margin-top: 25%;
    border-radius: 25px;
}